<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="mainCtrl">
    <div class="container">



        <button type="button" class="btn-success btn-block" ng-click="startFollowUps()" ng-hide="startFollowUpButton">Start Follow Ups</button>

        <div class="container" ng-hide="followUpInputContainer">
            <div class="formBox well">
                <div class="text-center">
                    <label>Name:</label>
                    <input type="text" name="name" ng-model="nameToCopy1">
                </div>
                <br>
                <div class="text-center">
                    <label>Email:</label>
                    <input type="text" name="name" ng-model="emailToCopy1">
                </div>
                <br>
                <div class="text-center">
                    <label>Notes:</label>
                    <textarea rows="4" cols="45" ng-model="notesToCopy1">
                    </textarea>
                </div>
                <br><br>
                <button type="button" class="btn-primary btn-block" ng-click="addToFollowups(nameToCopy1, emailToCopy1, notesToCopy1)">Add to Follow-ups</button>
                <button type="button" class="btn-danger btn-block" ng-click="clearLocalStorage()">Clear Local Storage</button>

            </div>
        </div>
    <br>
    <br>
    <h2 class="text-center">Follow Ups</h2>
    <div ng-repeat="followUp in followUps">
        <div class="container">
            <div class="formBox well">
                <div class="text-center">
                    <label>Name:</label>
                    <input type="value" name="name" ng-model="followUp.name" value="">
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.name" on-copied="success()" on-error="fail(err)">Copy Name</button>
                </div>
                <br>
                <div class="text-center">
                    <label>Email:</label>
                    <input type="text" name="name" ng-model="followUp.email">
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.email" on-copied="success()" on-error="fail(err)">Copy Email</button>
                </div>
                <br>
                <div class="text-center">
                    <label>Notes:</label>
                    <textarea rows="4" cols="45" ng-model="followUp.notes">
                    </textarea>
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.notes" on-copied="success()" on-error="fail(err)">Copy Notes</button>
                </div>
                <button type="button" class="btn-danger btn-block" ng-click="markAsComplete(followUp.name)">Mark as complete</button>
            </div>
        </div>

        <br>
    </div>
    </div>
    <toaster-container></toaster-container>


    <script src="./node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller.js" charset="utf-8"></script>
    <script src="./node_modules/angular-clipboard/angular-clipboard.js" charset="utf-8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
<script src="https://code.angularjs.org/1.2.0/angular-animate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
</body>

</html>
