<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="mainCtrl">
    <div class="container">



        <button type="button" class="btn-success btn-block" ng-click="startFollowUps()" ng-hide="startFollowUpButton">Start Follow Ups</button>
        <h2>{{numberOfFollowUps}} Follow Ups to do</h2>

        <div class="container" ng-hide="followUpInputContainer">
            <div class="formBox well">
                <div class="text-center">
                    <label>Name:</label>
                    <input type="text" name="name" ng-model="nameToCopy1">
                </div>
                <br>
                <div class="text-center">
                    <label>Email:</label>
                    <input type="text" name="name" ng-model="emailToCopy1">
                </div>
                <br>
                <div class="text-center">
                    <label>Account URL</label>
                    <input type="text" name="name" ng-model="accountURL">
                </div>
                <br>
                <div class="text-center">
                    <label>Email Template:</label>
                    <textarea rows="8" cols="45" ng-model="emailTemplate">

                    </textarea>
                </div>
                <br>
                <div class="text-center">
                    <label>Notes:</label>
                    <textarea contenteditable="true" rows="4" cols="45" ng-model="notesToCopy1">
                    </textarea>
                </div>
                <br><br>
                <button type="button" class="btn-primary btn-block" ng-click="addToFollowups(nameToCopy1, emailToCopy1, accountURL, emailTemplate, notesToCopy1)">Add to Follow-ups</button>
                <button type="button" class="btn-danger btn-block" ng-click="clearLocalStorage()">Clear Local Storage</button>

            </div>
        </div>
    <br>
    <br>
    <h2 class="text-center">Follow Ups To Do</h2>
    <div ng-repeat="followUp in followUps">
        <div class="container">

            <div class="formBox well" style="background-color:{{followUp.color}}">
                <h4>Call taken {{followUp.time | date : 'short'}}</h4>
                <div class="text-center">
                    <label>Name:</label>
                    <input type="value" name="name" ng-model="followUp.name" value="">
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.name" on-copied="success()" on-error="fail(err)">Copy Name</button>
                </div>
                <br>
                <div class="text-center">
                    <label>Email:</label>
                    <input type="text" name="name" ng-model="followUp.email">
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.email" on-copied="success()" on-error="fail(err)">Copy Email</button>
                </div>
                <br>
                <div class="text-center">
                    <label>User Account URL:</label>
                    <input type="text" name="name" ng-model="followUp.accountURL">
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.accountURL" on-copied="success()" on-error="fail(err)">Copy User Account URL</button>
                </div>
                <br>
                <div class="text-center">
                    <label>Email Template:</label>
                    <textarea rows="8" cols="45" ng-model="followUp.emailTemplate">
                        This is a test
                    </textarea>
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.emailTemplate" on-copied="success()" on-error="fail(err)" >Copy Email Template</button>
                </div>
                <br>
                <div class="text-center">
                    <label>Notes:</label>
                    <textarea rows="4" cols="45" ng-model="followUp.notes">
                    </textarea>
                    <button class="btn-primary pull-right" clipboard supported="supported" text="followUp.notes" on-copied="success()" on-error="fail(err)">Copy Notes</button>
                </div>
                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn-danger btn-block" ng-click="markAsComplete(followUp.name)">Mark As Complete</button>
                <br>
                <br>
                <button type="button" class="btn-warning btn-block" ng-click="updateFollowUp(followUp.name, followUp.email, followUp.notes)">Update Follow Up</button>
                <h4>Completed: {{followUp.completed}}</h4>
                <br>
                <br>

            </div>
        </div>
        <br>
    </div>
    
    </div>
    <toaster-container></toaster-container>


    <!-- <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=31cwkf4wuqpmbojstkv90pkzq643dqjpg8qivqcoxil5j63s"></script>
    <script>tinymce.init({ selector:'textarea' });</script> -->
    <script src="./node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller.js" charset="utf-8"></script>
    <script src="./node_modules/angular-clipboard/angular-clipboard.js" charset="utf-8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
<script src="https://code.angularjs.org/1.2.0/angular-animate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
</body>

</html>
